body {
  background-color: black;
}

h1 {
  color: red;
  font-size: 50pt;
}

ul {
  font-size: 30pt;
  color: orange;
  font-family: cursive;
}

h2 {
  color: rgb(252, 239, 63);
  font-size: 30pt;
  font-family: math;
}

img {
  width: 400px;
}

#passions {
  width: 700px;
  margin: 0 auto;
  background-color: rgb(30, 32, 29);
  text-align: center;
  align-content: center;
}
